@font-face {
    font-family: 'Starjedi';
    src: url('../fonts/Starjedi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --r-background-color: #e7e7e7;
    --r-main-color: #191919;
    --r-main-font-size: 38px;
}

.slide-background.part1::before,
.slide-background.part2::before,
.slide-background.part3::before,
.slide-background.part4::before,
.slide-background.part5::before,
.slide-background.part6::before,
.slide-background.part7::before,
.slide-background.part8::before,
.slide-background.part9::before,
.slide-background.part10::before,
.slide-background.part11::before,
.slide-background.part12::before {
    position: fixed;
    font-size: 120%;
    top: 7%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border: 2px solid #191919;
    background-color: #DD7927;
}

.slide-background.part1::before {
    content: "1. Introduction et Objectifs";
}

.slide-background.part2::before {
    content: "2. Contraintes d’architecture";
}

.slide-background.part3::before {
    content: "3. Contexte et périmètre";
}

.slide-background.part4::before {
    content: "4. Stratégie de solution";
}

.slide-background.part5::before {
    content: "5. Vue en boîtes";
}

.slide-background.part6::before {
    content: "6. Vue exécution";
}

.slide-background.part7::before {
    content: "7. Vue déploiement";
}

.slide-background.part8::before {
    content: "8. Concepts transversaux";
}

.slide-background.part9::before {
    content: "9. Décisions d’architecture";
}

.slide-background.part10::before {
    content: "10. Critères de qualité";
}

.slide-background.part11::before {
    content: "11. Risques et Dettes techniques";
}

.slide-background.part12::before {
    content: "12. Glossaire";
}

body::after {
    content: url("../images/breizh-camp-logo.svg");
    position: fixed;
    left: -300px;
    bottom: -80px;
    transform: scale(0.3);
}

.title>.slide-background-content {
    filter: blur(2px) brightness(100%);
    opacity: 0.3;
}

.reveal ul {
    list-style-type: none;
}

.columns .slide-content>.column>img {
    padding: 0;
}

.reveal h1 {
    font-family: 'Starjedi';
    font-size: 60px;
    text-transform: none;
}

.img-radius img {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.nomargin img {
    margin: 0;
}

.green {
    color: #8E3089;
}

table.tableblock {
    font-size: x-large;
    border-color: black;
}

.reveal .bloc {
    --r-block-margin: 12px;
    font-size: 28px;
    padding: 0 0.6em;
    border-top: 5px solid #8E3089;
    border-bottom: 5px solid #8E3089;
    text-align: left;
    background: #ffffffa0;
}

.overline {
    text-decoration: underline 3px;
}

.transparency.slide-background.present {
    filter: blur(3px);
    opacity: 0.3;
}

.reveal .progress {
    height: 10px;
    color: #8E3089;
}

.reveal .controls {
    color: #E1E04E;
}
